{% extends 'base.html.twig' %}

{% block content %}
    <svg width="66" height="39" viewBox="0 0 66 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M41.9633 27.0273L48.7848 19.0548L41.8628 10.9638L35.0269 18.9362L41.9633 27.0273Z" fill="white"/>
        <path d="M41.9633 27.4621L34.6534 18.9362L41.8627 10.5289L49.1582 19.0548L41.9633 27.4621ZM35.4002 18.9362L41.9633 26.5924L48.4114 19.0548L41.8627 11.3986L35.4002 18.9362Z" fill="black"/>
        <path d="M14.6197 21.7299L7.89868 29.5705L14.6771 37.4771L21.3982 29.6364L14.6197 21.7299Z" fill="white"/>
        <path d="M14.6771 37.912L7.52527 29.5706L14.6197 21.295L21.7715 29.6365L14.6771 37.912ZM8.27205 29.5706L14.6771 37.0423L21.0247 29.6365L14.6197 22.1648L8.27205 29.5706Z" fill="black"/>
        <path d="M0.603149 38.0964H10.7278L5.67263 32.1929L0.603149 38.0964Z" fill="white"/>
        <path d="M11.3309 38.36H0L5.67265 31.7581L11.3309 38.36ZM1.20634 37.8329H10.1246L5.67265 32.6278L1.20634 37.8329Z" fill="black"/>
        <path d="M39.6224 8.34144L32.8583 0.434875L26.0224 8.40733L32.7865 16.3271L39.6224 8.34144Z" fill="white"/>
        <path d="M32.7865 16.7619L25.649 8.40731L32.8439 0L39.9958 8.34142L39.8522 8.51273L32.7865 16.7619ZM26.3958 8.40731L32.7865 15.8922L39.249 8.34142L32.8439 0.869722L26.3958 8.40731Z" fill="black"/>
        <path d="M30.5605 18.9362L23.7821 11.0165L16.86 19.1207L23.6385 27.0273L30.5605 18.9362Z" fill="white"/>
        <path d="M23.6384 27.4621L16.4866 19.1075L23.7964 10.5816L30.9482 18.923L23.6384 27.4621ZM17.2334 19.1075L23.6384 26.5792L30.2015 18.923L23.7964 11.4513L17.2334 19.1075Z" fill="black"/>
        <path d="M32.8008 21.5453L25.8788 29.6364L32.8008 37.7275L39.7229 29.6364L32.8008 21.5453Z" fill="white"/>
        <path d="M32.8008 38.1624L25.491 29.6364L32.8008 21.1105L40.0963 29.6364L32.8008 38.1624ZM26.2522 29.6364L32.8152 37.2926L39.3639 29.6364L32.8152 21.9803L26.2522 29.6364Z" fill="black"/>
        <path d="M59.9865 32.127L54.8739 38.0965H65.099L59.9865 32.127Z" fill="white"/>
        <path d="M65.7023 38.36H54.2709L59.9866 31.679L65.7023 38.36ZM55.4772 37.8329H64.496L59.9866 32.5619L55.4772 37.8329Z" fill="black"/>
        <path d="M36.9514 38.0964H46.9754L41.9634 32.2587L36.9514 38.0964Z" fill="white"/>
        <path d="M47.5785 38.36H36.3625L41.9777 31.8107L47.5785 38.36ZM37.5545 37.8329H46.3578L41.949 32.6936L37.5545 37.8329Z" fill="black"/>
        <path d="M51.0252 21.664L44.2036 29.6364L50.9246 37.4903L57.7462 29.5046L51.0252 21.664Z" fill="white"/>
        <path d="M50.9246 37.9251L43.8302 29.6364L51.0251 21.2291L58.1195 29.5046L50.9246 37.9251ZM44.577 29.6364L50.9246 37.0554L57.3728 29.5046L51.0251 22.0988L44.577 29.6364Z" fill="black"/>
        <path d="M18.6407 38.0964H28.636L23.6384 32.2587L18.6407 38.0964Z" fill="white"/>
        <path d="M29.2394 38.36H18.0377L23.6385 31.8107L29.2394 38.36ZM19.244 37.8329H28.033L23.6241 32.6936L19.244 37.8329Z" fill="black"/>
    </svg>
    <header class="d-inline-block align-middle">
        <h2>{{ 'head.main_title'|trans }}</h2>
    </header>

    <div style="margin: 1rem 1rem;">
        <h3> {{ 'summary'|trans({ '%transactionId%': booking.transactionId }) }} {{ booking.date.format('d/m/Y') }}</h3>
    </div>
    <div>
        <ul style="list-style: none;">
            <li><strong>{{ 'booking.visitDate'|trans }}</strong> : {{ booking.visit.format('d/m/Y') }}
            </li>
            <li><strong>{{ 'mail.booking.total_price'|trans }}</strong> : {{ booking.price }} €</li>
            {% if booking.typeOfTicket is same as(constant('App\\Entity\\Booking::TYPE_OF_TICKET_DAY')) %}
                <li><strong>{{ 'booking.type_of_ticket'|trans }}</strong>: {{ 'booking.day'|trans }}</li>
            {% else %}
                <li><strong>{{ 'booking.type_of_ticket'|trans }}</strong>: {{ 'booking.half_day'|trans }}</li>
            {% endif %}
        </ul>
    </div>
    <hr />
    <div>
        <table style="width: 80%; text-align: center; border-bottom-color: grey; border-bottom-style: solid; border-bottom-width: 2px;">
            <thead>
            <tr style="">
                <th>#</th>
                <th scope="col">{{ 'ticket.name'|trans }}</th>
                <th scope="col">{{ 'ticket.reduce_rate'|trans }}*</th>
                <th scope="col">{{ 'ticket.unit_price'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in booking.tickets %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.reduceRate ? 'x' : '' }}</td>
                    <td>{{ ticket.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <blockquote>{{ 'practical_news.reduce_rate'|trans }}</blockquote>

    <div>
        <p>{{ 'thanks'|trans }}</p>
    </div>
{% endblock %}