{% extends 'base.html.twig' %}

{% block content %}
    <header class="d-inline-block align-middle">
        <h2>{{ 'head.main_title'|trans }}</h2>
    </header>

    <div style="margin: 1rem 1rem;">
        <h3> {{ 'summary'|trans({ '%transactionId%': booking.transactionId }) }} {{ booking.date.format('d/m/Y') }}</h3>
    </div>
    <div>
        <ul style="list-style: none;">
            <li><strong>{{ 'booking.visitDate'|trans }}</strong> : {{ booking.visit.format('d/m/Y') }}
            </li>
            <li><strong>{{ 'mail.booking.total_price'|trans }}</strong> : {{ booking.price }} €</li>
            {% if booking.typeOfTicket is same as(constant('App\\Entity\\Booking::TYPE_OF_TICKET_DAY')) %}
                <li><strong>{{ 'booking.type_of_ticket'|trans }}</strong>: {{ 'booking.day'|trans }}</li>
            {% else %}
                <li><strong>{{ 'booking.type_of_ticket'|trans }}</strong>: {{ 'booking.half_day'|trans }}</li>
            {% endif %}
        </ul>
    </div>
    <hr />
    <div>
        <table style="width: 80%; text-align: center; border-bottom-color: grey; border-bottom-style: solid; border-bottom-width: 2px;">
            <thead>
            <tr style="">
                <th>#</th>
                <th scope="col">{{ 'ticket.name'|trans }}</th>
                <th scope="col">{{ 'ticket.reduce_rate'|trans }}*</th>
                <th scope="col">{{ 'ticket.unit_price'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in booking.tickets %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.reduceRate ? 'x' : '' }}</td>
                    <td>{{ ticket.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <blockquote>{{ 'practical_news.reduce_rate'|trans }}</blockquote>

    <div>
        <p>{{ 'thanks'|trans }}</p>
    </div>
{% endblock %}