{% extends 'base.html.twig' %}

{% form_theme form 'form/bulma.twig' %}

{% block title %}
    {{ parent() }} - {{ 'step_title'|trans }} 1
{% endblock %}

{% block step %}{{ 'step_title'|trans }} 1{% endblock %}

{% block breadcrumb %}
    {% include 'booking/breadcrumb.html.twig' with{'step': 1 }only %}
{% endblock %}

{% block container %}
    <div class="content">
        {{ form_start(form) }}

        <div class="form-block">
            {{ form_widget(form.visit) }}
        </div>

        <div class="form-block">
            {{ form_row(form.typeOfTicket) }}
            <ul>
                <li>{{ 'booking.day_schedule'|trans }}</li>
                <li>{{ 'booking.half_day_schedule'|trans }}</li>
            </ul>
            {{ form_row(form.numberOfTickets) }}
        </div>

        <div class="field">
            <div class="control">
                {{ form_row(form.email.first) }}
                {{ form_row(form.email.second) }}
            </div>
        </div>

        <input class="button" type="submit" value="{{ 'submit.button'|trans }}">
        {{ form_end(form) }}
    </div>
{% endblock %}

