<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'head.main_title'|trans }}{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
{% block content %}
    {% block nav %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ path('homepage') }}">
                    <img src="{{ asset('build/images/logo.svg') }}" alt="Louvre" width="90" height="30" /> 
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbar" class="navbar-menu">
                {% block language %}
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {{ app.request.locale }}
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item"
                                   href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{{ 'english'|trans }}</a>
                                <a class="navbar-item"
                                   href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">{{ 'french'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </nav>
    {% endblock %}
    {% block hero %}
        <section class="hero is-dark has-background">
            <img alt="Fill Murray" class="hero-background is-transparent" src="{{ asset('build/images/hero.jpg') }}"/>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Louvre</h1>
                    <h2 class="subtitle">{{ 'Official ticket office'|trans }}</h2>
                </div>
            </div>
        </section>
    {% endblock %}


    {% block main %}
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-two-thirds">
                        {% block flash %}
                            {% for message in app.session.flashbag.get('success') %}
                                <article class="message is-success">
                                    <div class="message-header">
                                        <p> {{ 'success'|trans }}</p>
                                        <button class="delete" aria-label="delete"></button>
                                    </div>
                                    <div class="message-body">
                                        {{ message }}
                                    </div>
                                </article>
                            {% endfor %}
                            {% for message in app.session.flashbag.get('error') %}
                                <article class="message is-danger">
                                    <div class="message-header">
                                        <p>{{ 'error'|trans }}</p>
                                        <button class="delete" aria-label="delete"></button>
                                    </div>
                                    <div class="message-body">
                                        {{ message }}
                                    </div>
                                </article>
                            {% endfor %}
                        {% endblock %}

                        {% block stepScale %}
                            <h3 class="title is-3">{% block breadcrumb %}{% endblock %}</h3>
                        {% endblock %}
                        <h4 class="title is-4">{% block step %}{% endblock %}</h4>
                        {% block container %}
                        {% endblock %}
                    </div>
                    <div class="column">
                        {% block news %}
                            <div>
                                <h3 class="title is-3">{{ 'practical_news.title'|trans }}</h3>
                                <h4 class="title is-4">{{ 'practical_news.schedule'|trans }}</h4>
                                <p>{{ 'practical_news.schedule_speech'|trans }}</p>
                                <hr />
                                <h4 class="title is-4">{{ 'practical_news.closed.days_closures'|trans }}</h4>
                                <p>{{ 'practical_news.closed.days_speech'|trans }}</p>
                            </div>
                            <hr/>
                            <div class="content">
                                <h3 class="title is-3">{{ 'practical_news.rates.title'|trans }}</h3>
                                <ul>
                                    <li>{{ 'practical_news.rates.adult'|trans }} : 16€</li>
                                    <li>{{ 'practical_news.rates.child'|trans }} : 8€</li>
                                    <li>{{ 'practical_news.rates.under_four'|trans }} : 0€</li>
                                    <li>{{ 'practical_news.rates.senior'|trans }} : 12€</li>
                                    <li>{{ 'ticket.reduce_rate'|trans }}* : 10€</li>
                                </ul>
                                <blockquote>{{ 'practical_news.reduce_rate'|trans }}</blockquote>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="content has-text-centered">
                <p>&copy; Le Louvre — 2020</p>
            </div>
            <hr/>
            <div class="columns">
                <div class="column has-text-centered">
                    <a href="{{ path('news') }}">{{ 'practical_informations'|trans }}</a>
                </div>
                <div class="column has-text-centered">
                    <a href="{{ path('legal_mentions') }}">{{ 'legal_mentions.title'|trans }}</a>
                </div>
                <div class="column has-text-centered">
                    <a href="{{ path('sale') }}">{{ 'general_terms_of_sale'|trans }}</a>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}

{{ encore_entry_script_tags('app') }}

</body>
</html>
